@page "/Artistas"
@using ScreenSound.Web.Services
@using ScreenSound.API.Responses
@inject ArtistasApi Api

<PageTitle>Artistas</PageTitle>

<table>
	<tr>
		<th>Nome</th>
		<th>Bio</th>
		<th>Foto Perfil</th>
	</tr>
	@if (_artistas is not null)
	{
		@foreach (var artista in _artistas)
		{
			<tr>
				<td>@artista.Nome</td>
				<td>@artista.Bio</td>
				<td>@artista.FotoPerfil</td>
			</tr>
		}
	}
</table>

@code {
	private ICollection<ArtistaResponse>? _artistas;

	protected override async Task OnInitializedAsync()
	{
		_artistas = await Api.GetArtistasAsync();
	}
}
