@page "/Artistas"
@using ScreenSound.Web.Services
@inject ArtistasApi Api

<PageTitle>Artistas</PageTitle>

<h3>Artistas</h3>

@if (_artistas is not null)
{
	<MudGrid>
		@foreach (var artista in _artistas)
		{
			<MudItem xs="3">
				<CardArtista Artista="artista" />
			</MudItem>
		}
	</MudGrid>
}

@code {
	private ICollection<ArtistaResponse>? _artistas;

	protected override async Task OnInitializedAsync()
	{
		_artistas = (await Api.GetArtistasAsync())
			?.OrderBy(a => a.Nome)
			.ToList();
	}
}
